@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family:'Open Sans', Helvetica, sans-serif;
}

h2, p {
    margin-bottom:5px;
    margin-top:0;
}

input, button {
    font-family:Helvetica;
}